<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakawat21.retrofit" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Retrofit" >
        <activity
            android:name=".post.fakejson_1.FakeJson_1"
            android:exported="false" />
        <activity
            android:name=".post.fakejson_2.FakeJson_2"
            android:exported="false" />
        <activity
            android:name=".get.workWithTwoAdapter.WorkWithTwoAdapter"
            android:exported="false" />
        <activity
            android:name=".from_two_interface.FromTwoInterface"
            android:exported="false" />
        <activity
            android:name=".get_countryCode_and_find_AllTeamMembers.Country_and_team"
            android:exported="false" />
        <activity
            android:name=".get.get_by_id.Activity_get_by_id"
            android:exported="false" />
        <activity
            android:name=".get.get_all.Activity_get_all"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>